@font-face {
	font-family: 'TT Travels Text';
	src: url('../fonts/TT_Travels_Text_Regular.woff2') format('woff2');
	font-weight: normal;
}

@font-face {
	font-family: 'TT Travels Text';
	src: url('../fonts/TT_Travels_Text_Bold.woff2') format('woff2');
	font-weight: bold;
}

body{
	font-family: 'TT Travels Text', 'Roboto', sans-serif;
	font-size: clamp(16px, 3vw, 18px);
}

h1{
	font-size: clamp(36px, 4vw, 82px);
	line-height: 1.2em;
}

h2{
	font-size: clamp(32px, 3.7vw, 64px);
	line-height: 1.2em;
}

h3{
	font-size: clamp(24px, 2.8vw, 36px);
	line-height: 1.2em;
}

h4{
	font-size: clamp(18px, 3vw, 18px);
	line-height: 1.2em;
}